VITE_FIREBASE_API_KEY=AIzaSyCiGBvWbUZMe7Qj7IiHUSEwSYgHNRHBu9k
VITE_FIREBASE_AUTH_DOMAIN=sladeshultimate-1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sladeshultimate-1
VITE_FIREBASE_STORAGE_BUCKET=sladeshultimate-1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=244803134905
VITE_FIREBASE_APP_ID=1:244803134905:web:414bf0a6f191d6af62c268

VITE_VAPID_PUBLIC_KEY=BAj3IaZFbVXbsfS3klQBM4e7HBpzsFCmWBg9QBaBU6_bbYu_Yp2S8gYuxotP3sVt7O4xOpx6uUnFWrDw_YqYaqA